$primary-color: #0032d6;
$text-color: #5c5c5c;
// First button
$first-button-bg: #0032d6;
$first-button-color: #fff;
$first-button-bg-hover: #0026a4;
// Second button
$second-button-bg: #d9e0ff;
$second-button-color: #0032d6;
$second-button-bg-hover: #bfcbff;

$border-radius: 5px;

$error-bg: #ffb0b0;
$error-color: #860000;

$mobile-width: 768px;
$tablet-width: 1200px;