@use "../../scss" as *;

.navbar_container {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;

  .navbar_logo_container {
    margin-right: 1rem;
  }

  .navbar_bars_container {
    display: none;
    font-size: 1.5rem;
    z-index: 60;
    color: #000;

    @include mobile {
      display: flex;
    }
  }

  .nav_items_container {
    display: flex;
    align-items: center;

    @include mobile {
      width: 70%;
      height: 100%;
      position: fixed;
      right: -100%;
      bottom: 0;
      flex-direction: column;
      justify-content: center;
      background-color: #dcdcdc;
      z-index: 50;
      transition: all 0.3s;
    }

    ul {
      display: flex;
      list-style: none;
      width: 100%;

      @include mobile {
        flex-direction: column;
        align-items: center;
      }

      li {
        margin: 0 1rem;

        @include mobile {
          margin: 0.5rem 0;
          font-size: 1.2rem;
          padding: 1rem;
          border-bottom: 1px solid #000;
          width: 100%;
          text-align: center;
        }

        a {
          color: #5c5c5c;
          transition: all 0.3s;

          &:hover {
            color: #000;
          }
        }
      }
    }

    .signup {
      padding: 0.8rem;
      margin-left: 2.5rem;
      border-radius: 5px;
      background-color: $first-button-bg;
      color: $first-button-color;
      transition: all 0.3s;

      @include mobile {
        margin: 2rem 0;
        font-size: 1.2rem;
        width: 90%;
        text-align: center;
      }

      &:hover {
        background-color: $first-button-bg-hover;
      }
    }

    &.active {
      right: 0;
    }
  }
}
